<div th:fragment="menu">
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>

            <li th:classappend="${activeMenu == 'dashboard'} ? 'active'" class="sidebar-item">
                <a href="index" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li th:classappend="${activeMenu == 'components'} ? 'active'" class="sidebar-item has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-stack"></i>
                    <span>Components</span>
                </a>

                <ul class="submenu">

                    <li class="submenu-item active ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="component-accordion" class="submenu-link">Accordion</a>
                    </li>

                    <li th:classappend="${activeItem == 'alert'} ? 'active'" class="submenu-item">
                        <a href="component-alert" class="submenu-link">Alert</a>
                    </li>

                    <li th:classappend="${activeItem == 'badge'} ? 'active'" class="submenu-item">
                        <a href="component-badge" class="submenu-link">Badge</a>
                    </li>

                    <li th:classappend="${activeItem == 'breadcrumb'} ? 'active'" class="submenu-item">
                        <a href="component-breadcrumb" class="submenu-link">Breadcrumb</a>
                    </li>

                    <li th:classappend="${activeItem == 'button'} ? 'active'" class="submenu-item">
                        <a href="component-button" class="submenu-link">Button</a>
                    </li>

                    <li th:classappend="${activeItem == 'card'} ? 'active'" class="submenu-item">
                        <a href="component-card" class="submenu-link">Card</a>
                    </li>

                    <li th:classappend="${activeItem == 'carousel'} ? 'active'" class="submenu-item">
                        <a href="component-carousel" class="submenu-link">Carousel</a>
                    </li>

                    <li th:classappend="${activeItem == 'collapse'} ? 'active'" class="submenu-item">
                        <a href="component-collapse" class="submenu-link">Collapse</a>

                    </li>

                    <li th:classappend="${activeItem == 'dropdown'} ? 'active'" class="submenu-item">
                        <a href="component-dropdown" class="submenu-link">Dropdown</a>
                    </li>

                    <li th:classappend="${activeItem == 'list-group'} ? 'active'" class="submenu-item">
                        <a href="component-list-group" class="submenu-link">List Group</a>
                    </li>

                    <li th:classappend="${activeItem == 'modal'} ? 'active'" class="submenu-item">
                        <a href="component-modal" class="submenu-link">Modal</a>
                    </li>

                    <li th:classappend="${activeItem == 'navs'} ? 'active'" class="submenu-item">
                        <a href="component-navs" class="submenu-link">Navs</a>
                    </li>

                    <li th:classappend="${activeItem == 'pagination'} ? 'active'" class="submenu-item">
                        <a href="component-pagination" class="submenu-link">Pagination</a>
                    </li>

                    <li th:classappend="${activeItem == 'progress'} ? 'active'" class="submenu-item">
                        <a href="component-progress" class="submenu-link">Progress</a>
                    </li>

                    <li th:classappend="${activeItem == 'spinner'} ? 'active'" class="submenu-item">
                        <a href="component-spinner" class="submenu-link">Spinner</a>
                    </li>

                    <li th:classappend="${activeItem == 'toasts'} ? 'active'" class="submenu-item">
                        <a href="component-toasts" class="submenu-link">Toasts</a>
                    </li>

                    <li th:classappend="${activeItem == 'tooltip'} ? 'active'" class="submenu-item">
                        <a href="component-tooltip" class="submenu-link">Tooltip</a>

                    </li>
                </ul>


            </li>

            <li th:classappend="${activeMenu == 'extra'} ? 'active'" class="sidebar-item has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-collection-fill"></i>
                    <span>Extra Components</span>
                </a>

                <ul class="submenu ">
                    <li th:classappend="${activeItem == 'avatar'} ? 'active'" class="submenu-item">
                        <a href="extra-component-avatar" class="submenu-link">Avatar</a>
                    </li>

                    <li th:classappend="${activeItem == 'divider'} ? 'active'" class="submenu-item">
                        <a href="extra-component-divider" class="submenu-link">Divider</a>
                    </li>

                    <li th:classappend="${activeItem == 'date-picker'} ? 'active'" class="submenu-item">
                        <a href="extra-component-date-picker" class="submenu-link">Date Picker</a>
                    </li>

                    <li th:classappend="${activeItem == 'sweetalert'} ? 'active'" class="submenu-item">
                        <a href="extra-component-sweetalert" class="submenu-link">Sweet Alert</a>
                    </li>

                    <li th:classappend="${activeItem == 'toastify'} ? 'active'" class="submenu-item">
                        <a href="extra-component-toastify" class="submenu-link">Toastify</a>
                    </li>

                    <li th:classappend="${activeItem == 'rating'} ? 'active'" class="submenu-item">
                        <a href="extra-component-rating" class="submenu-link">Rating</a>
                    </li>
                </ul>
            </li>

            <li th:classappend="${activeMenu == 'layout'} ? 'active'" class="sidebar-item has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-grid-1x2-fill"></i>
                    <span>Layouts</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'default'} ? 'active'" class="submenu-item">
                        <a href="layout-default" class="submenu-link">Default Layout</a>

                    </li>

                    <li th:classappend="${activeItem == 'vertical-1-column'} ? 'active'" class="submenu-item">
                        <a href="layout-vertical-1-column" class="submenu-link">1 Column</a>

                    </li>

                    <li th:classappend="${activeItem == 'navbar'} ? 'active'" class="submenu-item">
                        <a href="layout-vertical-navbar" class="submenu-link">Vertical Navbar</a>

                    </li>

                    <li th:classappend="${activeItem == 'rtl'} ? 'active'" class="submenu-item">
                        <a href="layout-rtl" class="submenu-link">RTL Layout</a>

                    </li>

                    <li th:classappend="${activeItem == 'horizontal'} ? 'active'" class="submenu-item">
                        <a href="layout-horizontal" class="submenu-link">Horizontal Menu</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-title">Forms &amp; Tables</li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-hexagon-fill"></i>
                    <span>Form Elements</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-element-input" class="submenu-link">Input</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-element-input-group" class="submenu-link">Input Group</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-element-select" class="submenu-link">Select</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-element-radio" class="submenu-link">Radio</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-element-checkbox" class="submenu-link">Checkbox</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-element-textarea" class="submenu-link">Textarea</a>

                    </li>
                </ul>
            </li>

            <li class="sidebar-item  ">
                <a href="form-layout" class='sidebar-link'>
                    <i class="bi bi-file-earmark-medical-fill"></i>
                    <span>Form Layout</span>
                </a>
            </li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-journal-check"></i>
                    <span>Form Validation</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-validation-parsley" class="submenu-link">Parsley</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-pen-fill"></i>
                    <span>Form Editor</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-editor-quill" class="submenu-link">Quill</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-editor-ckeditor" class="submenu-link">CKEditor</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-editor-summernote" class="submenu-link">Summernote</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="form-editor-tinymce" class="submenu-link">TinyMCE</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-item  ">
                <a href="table" class='sidebar-link'>
                    <i class="bi bi-grid-1x2-fill"></i>
                    <span>Table</span>
                </a>


            </li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                    <span>Datatables</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="table-datatable" class="submenu-link">Datatable</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="table-datatable-jquery" class="submenu-link">Datatable (jQuery)</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-title">Extra UI</li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-pentagon-fill"></i>
                    <span>Widgets</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-widgets-chatbox" class="submenu-link">Chatbox</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-widgets-pricing" class="submenu-link">Pricing</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-widgets-todolist" class="submenu-link">To-do List</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-egg-fill"></i>
                    <span>Icons</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-icons-bootstrap-icons" class="submenu-link">Bootstrap Icons </a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-icons-fontawesome" class="submenu-link">Fontawesome</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-icons-dripicons" class="submenu-link">Dripicons</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-bar-chart-fill"></i>
                    <span>Charts</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-chart-chartjs" class="submenu-link">ChartJS</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-chart-apexcharts" class="submenu-link">Apexcharts</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-item  ">
                <a href="ui-file-uploader" class='sidebar-link'>
                    <i class="bi bi-cloud-arrow-up-fill"></i>
                    <span>File Uploader</span>
                </a>


            </li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-map-fill"></i>
                    <span>Maps</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-map-google-map" class="submenu-link">Google Map</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="ui-map-jsvectormap" class="submenu-link">JS Vector Map</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-three-dots"></i>
                    <span>Multi-level Menu</span>
                </a>

                <ul class="submenu ">

                    <li class="submenu-item  has-sub">
                        <a href="#" class="submenu-link">First Level</a>

                        <ul class="submenu submenu-level-2 ">


                            <li class="submenu-item ">
                                <a href="ui-multi-level-menu" class="submenu-link">Second Level</a>
                            </li>

                            <li class="submenu-item ">
                                <a href="#" class="submenu-link">Second Level Menu</a>
                            </li>


                        </ul>

                    </li>

                    <li class="submenu-item  has-sub">
                        <a href="#" class="submenu-link">Another Menu</a>

                        <ul class="submenu submenu-level-2 ">


                            <li class="submenu-item ">
                                <a href="#" class="submenu-link">Second Level Menu</a>
                            </li>


                        </ul>

                    </li>

                </ul>


            </li>

            <li class="sidebar-title">Pages</li>

            <li class="sidebar-item  ">
                <a href="application-email" class='sidebar-link'>
                    <i class="bi bi-envelope-fill"></i>
                    <span>Email Application</span>
                </a>


            </li>

            <li class="sidebar-item  ">
                <a href="application-chat" class='sidebar-link'>
                    <i class="bi bi-chat-dots-fill"></i>
                    <span>Chat Application</span>
                </a>


            </li>

            <li class="sidebar-item  ">
                <a href="application-gallery" class='sidebar-link'>
                    <i class="bi bi-image-fill"></i>
                    <span>Photo Gallery</span>
                </a>


            </li>

            <li class="sidebar-item  ">
                <a href="application-checkout" class='sidebar-link'>
                    <i class="bi bi-basket-fill"></i>
                    <span>Checkout Page</span>
                </a>


            </li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-person-badge-fill"></i>
                    <span>Authentication</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="auth-login" class="submenu-link">Login</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="auth-register" class="submenu-link">Register</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="auth-forgot-password" class="submenu-link">Forgot Password</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-x-octagon-fill"></i>
                    <span>Errors</span>
                </a>

                <ul class="submenu ">

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="error-403" class="submenu-link">403</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="error-404" class="submenu-link">404</a>

                    </li>

                    <li th:classappend="${activeItem == 'accordion'} ? 'active'" class="submenu-item">
                        <a href="error-500" class="submenu-link">500</a>

                    </li>

                </ul>


            </li>

            <li class="sidebar-title">Raise Support</li>

            <li class="sidebar-item  ">
                <a href="https://zuramai.github.io/mazer/docs" class='sidebar-link'>
                    <i class="bi bi-life-preserver"></i>
                    <span>Documentation</span>
                </a>


            </li>

            <li class="sidebar-item  ">
                <a href="https://github.com/zuramai/mazer/blob/main/CONTRIBUTING.md" class='sidebar-link'>
                    <i class="bi bi-puzzle"></i>
                    <span>Contribute</span>
                </a>


            </li>

            <li class="sidebar-item  ">
                <a href="https://github.com/zuramai/mazer#donation" class='sidebar-link'>
                    <i class="bi bi-cash"></i>
                    <span>Donate</span>
                </a>


            </li>

        </ul>
    </div>
</div>